.button {
  color: #e6e6e6;
  background: #424242;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button-light {
  color: #424242;
  background: #e6e6e6;
  border: 1px solid #424242;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  color: #e6e6e6;
  text-decoration: none;
  background: #1a1a1a;
}

.button:active,
.button-light:active {
  transform: translateY(2px);
}

.button:disabled {
  opacity: 0.8;
  pointer-events: none;
}
