.full-page {
  .body {
    text-align: justify;
  }

  .title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 32px 0 0 0;
  }

  .image {
    padding: 32px;
    text-align: center;
  }

  .image img {
    max-height: 350px;
    padding: 0 0 32px 0;
  }

  .tagline {
    font-style: italic;
  }
}

.card {
  display: flex;
  margin: 32px 8px;
  border-radius: 4px;
  padding: 16px 8px;
  border: 1px solid #424242;

  .body {
    font-size: 16px;
    padding-top: 16px;
  }

  .title {
    font-size: 24px;
  }

  .image {
    text-align: center;
    padding: 8px 32px;
  }

  .image img {
    padding: 8px 32px;
    max-height: 120px;
  }
}
