.random-beer {
  margin: 0;
  height: 100%;
  display: flex;
  padding: 0 32px;
  flex-direction: column;
  justify-content: center;

  .action-container {
    display: flex;
    padding: 32px;
  }

  .error {
    left: 0;
    bottom: 0;
    color: red;
    padding: 32px;
    position: absolute;
    font-style: italic;
  }
}
