.search {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  input {
    font-size: 16px;
    border-radius: 8px;
    border: 0;
    padding: 10px;
    margin: 8px 16px;
  }

  .type-selector {
    display: flex;
    justify-content: center;
  }
}

.input-container {
  width: 50%;
  display: flex;
  margin: 0 16px;
  min-height: 75px;
  flex-direction: column;

  .invalid {
    border: 2px solid red;
  }

  .error {
    color: red;
    font-size: 12px;
    padding: 0 32px;
  }
}
