body {
  margin: 0;
  color: #424242;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.hero {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f2c66d;
  min-height: 100vh !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
