.nav {
  margin: 0;
  height: 64px;
  display: flex;
  padding: 0 64px;
  align-items: center;

  li {
    margin-right: 15px;
  }
}

a {
  color: #424242;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.active {
  font-weight: bold;
}
